<div  align="center">
  <h2><span>MODIFIER LA PRODUIT</span></h2>
  <!-- <img routerLink="/" class="retour" src="./assets/images/left-arrow.svg"> -->
  <button routerLink="/" type="button" class="btn btn-dark btn-lg btn-block">Retour</button>
</div>
<form class="offset-sm-3 col-sm-6" *ngIf="form" [formGroup]="form" (ngSubmit)="update(form)">
    
    <div class="form-group">
        <div class="col-sm-12">
          <label for="nom">Nom</label>
        </div>
        <div class="col-sm-12">
          <input formControlName="nom" id="nom" class="form-control">
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-sm-12">
          <label for="taille">Taille</label>
        </div>
        <div class="col-sm-12">
          <input formControlName="taille" id="taille" class="form-control">
        </div>
      </div>
  
      <div class="form-group">
        <div class="col-sm-12">
          <label for="dateExp">Date d'expiration</label>
        </div>
        <div class="col-sm-12">
          <input formControlName="dateExp" id="dateExp" class="form-control">
        </div>
      </div>


  <div class="form-group">
    <div class="col-sm-12">
      <input type="submit" class="form-control btn vert" value="MODIFIER">
    </div>
  </div>

</form>