


  <div>
    <h2><span>LISTE DES PRODUITS</span>  </h2><button routerLink="/produit/new" type="button" class="btn btn-info">Ajouter</button>
  </div> 
  <!-- <ul class="responsive-table">
    <li class="table-header " ><img routerLink="/produit/new" class="icon float-right" src="./assets/images/plus.svg">
      <div class="">id </div>
      <div class="">Nom</div>
      <div class="">Taille</div>
      <div class="">Prix</div>
      <div class="">Genre</div>
      <div class="">Actions</div>
    </li>
    <li class="table-row" *ngFor="let produit of produits; let i = index">
      <div class="">{{i + 1}}</div>
      <div class="">{{produit.nom}}</div>
      <div class="">{{produit.taille}}</div>
      <div class="">{{produit.prix}}  </div>
      <div class="">{{produit.genre}} </div>
      <div class="">
        <img class="icon" routerLink="/produit/{{produit._id}}/edit" src="./assets/images/edit.svg">
        <img class="icon" (click)="delete(produit._id)" src="./assets/images/delete.svg">
        <img class="icon" routerLink="/produit/{{produit._id}}/show" src="./assets/images/view.svg">
      </div>
    </li>
  </ul> -->
  
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#id</th>
        <th scope="col">Nom</th>
        <th scope="col">Taille</th>
        <th scope="col">Date d'expiration</th>
        <th scope="col" colspan="2" >Actions</th>
      </tr>
    </thead>
    <tbody >
      <tr class="default" *ngFor="let produit of produits; let i = index" >
        <th scope="row"> {{i + 1}}</th>
        <td scope="row"> {{produit.nom}}</td>
        <td scope="row"> {{produit.taille}} </td>
        <td scope="row"> {{produit.dateExp}}   </td>
      <td class="d-flex justify-content-between">
          <button routerLink="/produit/{{produit._id}}/edit" type="button" class="btn btn-warning">Modifier</button>
          <button type="button" (click)="delete(produit._id)" class="btn btn-danger">Delete</button>
          <button type="button" routerLink="/produit/{{produit._id}}/show" class="btn btn-light">Voir</button>

            <!-- <img class="icon" routerLink="/produit/{{produit._id}}/edit"  src="./assets/images/edit.svg"> -->
            <!-- <img class="icon" data-toggle="modal" data-target="#exampleModal"  src="./assets/images/delete.svg"> -->
            <!-- <img class="icon" routerLink="/produit/{{produit._id}}/show" src="./assets/images/view.svg"> -->
            <!-- <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal">
                Delete
            </button> -->
        </td>
      </tr>

    </tbody>
  </table>

  <!-- <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Voulez vous vraiment supprimer cette commande</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure ? </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" (click)="delete(produit._id)" class="btn btn-primary">Delete</button>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Button trigger modal -->

  
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
   -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Voulez vous vraiment supprimer cette commande</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>Are you sure ? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button"   (click)="delete(produit._id)" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
