<!-- <div  align="center">
  <h2><img routerLink="/" class="retour" src="./assets/images/left-arrow.svg"><span>AFFICHER UN TALENT</span></h2>
</div>
<div class="well offset-sm-3 col-sm-6" *ngIf="pizza">
  <div class="row well white">
    <div class="col-sm-4">Nom: </div>
    <div class="col-sm-8">{{pizza.nom}} </div>
  </div>
  <div class="row well white">
    <div class="col-sm-4">Taille: </div>
    <div class="col-sm-8">{{pizza.taille}} </div>
  </div>
  <div class="row well white">
      <div class="col-sm-4"> Prix: </div>
      <div class="col-sm-8">{{pizza.prix}} </div>
  </div>
  <div class="row well white">
      <div class="col-sm-4">Genre: </div>
      <div class="col-sm-8">{{pizza.genre}} </div>
  </div>
</div> -->
<div class="top">

</div>
<div class="container">
    <button routerLink="/" type="button" class="btn btn-warning btn-lg btn-block">Retour</button>
    <hr>
    <table  class="table table-striped">
        <!-- <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
          </tr>
        </thead> -->
        <tbody>
          <tr>
            <th colspan="2" scope="row"  >Nom</th>
            <td>{{pizza.nom}}</td>
          </tr>
          <tr>
            <th colspan="2" scope="row" >Taille</th>
            <td>{{pizza.taille}}</td>
          </tr>
          <tr>
            <th colspan="2" scope="row">Prix</th>
            <td>{{pizza.dateExp}}</td>
          </tr>

        </tbody>
      </table>
</div>