<div  align="center">
  <button routerLink="/" type="button" class="btn btn-dark btn-lg btn-block">Retour</button>
  <h2><span>Ajouter un produit</span></h2>
  <!-- <img routerLink="/" class="retour" src="./assets/images/left-arrow.svg"> -->
  <form [formGroup]="form" (ngSubmit)="create(form)">
    <div class="form-group" >
      <label for="exampleInputEmail1">Nom</label>
      <input type="nom" formControlName="nom" id="nom" class="form-control"  placeholder="Enter le nom du produit">   
    </div>
    <div class="form-group" >
        <label for="exampleInputEmail1">Taille</label>
        <input type="nom" formControlName="taille" id="taille" class="form-control"  placeholder="Sa taille">   
      </div>
    <div class="form-group" >
        <label for="exampleInputEmail1">Date d'expiration</label>
        <input type="nom" formControlName="dateExp" id="dateExp" class="form-control"  placeholder="Sa Date Expiration">   
    </div>

    <button type="submit" class="btn btn-primary">Commander</button>
  </form>
    </div>
    <!-- <form class="offset-sm-3 col-sm-6" [formGroup]="form" (ngSubmit)="create(form)">
        
        <div class="form-group">
          <div class="col-sm-6">
            <label for="nom">Nom</label>
          </div>
          <div class="col-sm-6">
            <input formControlName="nom" id="nom" class="form-control">
          </div>
        </div>
        
        <div class="form-group">
          <div class="col-sm-6">
            <label for="taille">Taille</label>
          </div>
          <div class="col-sm-6">
            <input formControlName="taille" id="taille" class="form-control">
          </div>
        </div>
    
        <div class="form-group">
          <div class="col-sm-6">
            <label for="prix">Prix</label>
          </div>
          <div class="col-sm-6">
            <input formControlName="prix" id="prix" class="form-control">
          </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-6">
              <label for="genre">Genre</label>
            </div>
            <div class="col-sm-6">
              <input formControlName="genre" id="genre" class="form-control">
            </div>
          </div> 
    
      <div class="form-group">
        <div class="col-sm-4">
          <input type="submit" class="form-control btn vert" value="Commander">
        </div>
      </div>
    
    </form> -->